@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,600,600italic,300italic|Oswald|Inconsolata);

/* Custom classes */

div.center-justified {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    margin: 0 auto;
}

div.center-aligned {
    text-align: center;
}

div.text-content {
    font-size: 20px;
}

pre b {
    color: blue;
}

pre e {
    color: red;
}

pre l {
    color: chocolate;
}

div.text-subtitle {
    font-size: 28px;
}

img.gifimg {
    width: 50%;
}

@media screen and (min-width: 768px) {
    img.gifimg {
        width: 70%;
    }
}

img.blogimg {
    max-width: 300px;
}

@media screen and (min-width: 768px) {
    img.blogimg {
        max-width: 600px;
    }
}

img.tagicon {
    width: 48px;
    height: 48px;
}

@media screen and (min-width: 768px) {
    img.tagicon {
        width: 56px;
        height: 56px;
    }
}

div.googleads {
    margin-top: 24px;
    margin-bottom: 24px;
}

div.fonttitle {
    font-size: 22px;
}

div.fontsubtitle {
    font-size: 20px;
}

div.fontdate {
    font-size: 16px;
}


/* Tabs style */

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none !important;
}

.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    color: #6aa4cd;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #fd264f;
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #fd264f;
}

.tabs [class^="tab"] [type="radio"]:checked+div,
.tabs [class*=" tab"] [type="radio"]:checked+div {
    opacity: 1;
}

.tabs [class^="tab"] [type="radio"]+div,
.tabs [class*=" tab"] [type="radio"]+div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs .tab-2 {
    width: 50%;
}

.tabs .tab-2 [type="radio"]+div {
    width: 200%;
    margin-left: 200%;
}

.tabs .tab-2 [type="radio"]:checked+div {
    margin-left: 0;
}

.tabs .tab-2:last-child [type="radio"]+div {
    margin-left: 100%;
}

.tabs .tab-2:last-child [type="radio"]:checked+div {
    margin-left: -100%;
}

.tabs .tab-3 {
    width: 33.33%;
}

.tabs .tab-3:nth-child(1) [type="radio"]+div {
    width: 300%;
    margin-left: 200%;
    display: none;
}

.tabs .tab-3:nth-child(1) [type="radio"]:checked+div {
    margin-left: 0%;
    display: block;
}

.tabs .tab-3:nth-child(2) [type="radio"]+div {
    width: 300%;
    margin-left: 200%;
    display: none;
}

.tabs .tab-3:nth-child(2) [type="radio"]:checked+div {
    margin-left: -100%;
    display: block;
}

.tabs .tab-3:last-child [type="radio"]+div {
    width: 300%;
    margin-left: 200%;
    display: none;
}

.tabs .tab-3:last-child [type="radio"]:checked+div {
    margin-left: -200%;
    display: block;
}


/* Tabs style end*/

.vertical-centre {
    display: flex;
    align-items: flex-end;
}

.slide-container {
    padding-bottom: 56.25%;
    position: relative;
    display: block;
    width: 100%
}

.slide-iframe {
    position: absolute;
    top: 0;
    left: 0
}