@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,600,600italic,300italic|Oswald|Inconsolata);

/* Custom classes */
div.center-justified {
	width: 100%;
	font-family: 'Oswald',sans-serif;
    text-align: justify;
    margin: 0 auto;
  }

div.center-aligned {
  text-align: center;
}

div.text-content{
  font-size: 20px;
}

pre b{
  color:blue;
}

